<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Managment System</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ruda&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'assignment_1_app/messages.html' %}

    {% block content %}
  
    {% endblock %}  

    <div class="container-fluid bg-dark">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark border-bottom">
    <div class="container">
        <a class="navbar-brand" href="">
        <img src="/static/iitb_logo.png" alt="iitb_logo" width="20%" height="20%">
        </a>
        </div>
        <div class="container">
        <span class="navbar-text text-white text-center" style="font-family: 'Ruda', sans-serif; font-size:xx-large;">Student Management Portal  IIT Bombay</span>
        </div>
    <div class="container justify-content-end">
    <form class="d-flex">
        <div class="container">
        <button class="btn btn-success" type="button"><a href="/form.html" class="link-light">Add Student Details</a></button>
        </div>
    </form>
    
    </div>
</nav>

<div class="container justify-content-center"></div>
<br>
<br>
<h4 class="text-center text-white" style="font-family: 'Dosis', sans-serif;font-size: xx-large;">Database of students studying in the Institute</h4>
<table class="table table-success table-hover">
    <thead>
      <tr>

        <th>Name</th>
        <th>Roll Number</th>
        <th>Department</th>
        <th>Hostel</th>
=
      </tr>
    </thead>
    <tbody>
        {% for data in data %}
        <tr>

            <th>{{ data.name }}</th>
            <th>{{ data.roll }}</th>
            <th>{{ data.dept }}</th>
            <th>{{ data.hostel }}</th>

        </tr>
        {% endfor %}
    </tbody>
  </table>
  <br>
</div>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark bottom">
    <div class="container">
        <span class="navbar-text text-white" style="font-family: 'Inconsolata', monospace; font-size:x-large"><span style="color:white ; font-size:30px;">&copy;</span> Copyright 2023, IIT Bombay</span>
    </div>
    <div class="container justify-content-end">
        <span class="navbar-text text-white" style="font-family: 'Edu NSW ACT Foundation', cursive; font-size:x-large">Created and Designed with <span style="color:red ; font-size:25px;">&hearts;</span> by Challa Rupak Vardhan</span>
    </div>
    </nav>
</div>
</body>
</html>